[Unit]
Description=Weekly mariadb backup timer

[Timer]
OnCalendar=weekly
Persistent=true
RandomizedDelaySec=1h
Unit=mariadb-backup.service

[Install]
WantedBy=timers.target
